<h2 class="edit_title">Edit Profile</h2>
  <%= form_for @user do |f| %>
    <div>
    	<span>Username</span>
    	<br>
      <%= f.text_field :username, required: true %>
    </div>
    <div> 	
    	<span>Email</span>
    	<br>
      <%= f.text_field :email, required: true %>
    </div>
    <%= f.submit "Save", class:"delete_button" %>
  <% end %>

  <h3 class="delete_account">Delete Account</h3>

  <%= button_to "Delete", "/users/#{@user.id}", method: "delete" %>
