<h1 id="coffee_header">welcome &nbsp; to &nbsp; <%= @coffeeshop.name %> </h1>

<h3 id="rate"> Based on 
<% if @coffeeshop.posts.count  %> 
  <%= @coffeeshop.posts.count %>
<% else %>
 0
 <% end %>
reviews, <%= @coffeeshop.name %> is currently 
<% if @avg_fullness.round  %> 
  <%= @avg_fullness.round %>%
<% else %>
 0%
 <% end %>
full! </h3>

<div class="bar_container">
    <div class="bar_mortice rounded">
      <div class="progress rounded" style="width: <%= @avg_fullness.to_s %>%;"></div>
    </div>

    <hr id="divider">

    <%= form_for @post do |f| %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.hidden_field :coffeeshop_id, value: @coffeeshop.id %>
      <div id="radio_fullness">
        <%= f.radio_button :fullness, 0 %>
        <%=label_tag(:fullness, "0%") %>
        <%= f.radio_button :fullness, 20 %>
        <%=label_tag(:fullness, "20%") %>
        <%= f.radio_button :fullness, 40 %>
        <%=label_tag(:fullness, "40%") %>
        <%= f.radio_button :fullness, 60 %>
        <%=label_tag(:fullness, "60%") %>
        <%= f.radio_button :fullness, 80 %>
        <%=label_tag(:fullness, "80%") %>
        <%= f.radio_button :fullness, 100 %>
        <%=label_tag(:fullness, "100%") %>
      </div>
      <div>
        <%= f.text_area :description, placeholder: "Add any extra info that might be helpful...", required: false %>
      </div>
      <%= f.submit "Post",:class => "post_button" %>
      <%= link_to '<button type="button" class="post_button">Back</button>'.html_safe, root_path %>
    <% end %> 
</div>

<% @coffeeshop.posts.order(:created_at).reverse.each do |p| %>
  <div class="description">
    <%= p.created_at.strftime("%d %b. %Y") %>
    <br>
    <%= p.fullness %>%
    <%= p.description %>
  </div>
<% end %>